:root {
  --text-color1: #f5f5f5;
  --text-color2: black;

  --fsize1: 60px;
  --fsize2: 50px;
  --fsize3: 40px;
  --fsize4: 35px;
  --fsize5: 30px;
  --fsize6: 25px;

  --black: "SourceSansPro-Black";
  --blackIt: "SourceSansPro-BlackIt";
  --sourceBold: "SourceSansPro-Bold";
  --boldIt: "SourceSansPro-BoldIt";
  --extraLight: "SourceSansPro-ExtraLight";
  --extraLightIt: "SourceSansPro-ExtraLightIt";
  --sourceIt: "SourceSansPro-It";
  --light: "SourceSansPro-Light";
  --lightIt: "SourceSansPro-LightIt";
  --regular: "SourceSansPro-Regular";
  --semiBold: "SourceSansPro-Semibold";
  --semiboldIt: "SourceSansPro-SemiboldIt";

  /* --headbackground: url("../assets/foret.png"); */
  --footercolor: black;
  --newslater: url("../assets/newsletter.jpg");
}

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* HEADER */

/* NAVBAR */
