:root {
  --text-color1: white;
  --text-color2: black;

  --fsize1: 60px;
  --fsize2: 50px;
  --fsize3: 30px;
  --fsize4: 25px;
  /* --headbackground: url("../assets/saita1.jpg"); */
  --footercolor: black;
  --newslater: url("../assets/newsletter.jpg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/ --Menu Burger-- /
li{
  list-style: none;
}

a,
a:visited{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: white;
}

nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vm);
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#icons{
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons{
    display: block;
  }
  #icons:before{
    content: "\2630";
  }
  nav ul{
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li{
    padding: 3px 0;
  }
  nav li:hover{
    
  }
}