/* GENERAL */

section {
  position: relative;
}

button {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: #7a6957;
  color: var(--text-color1);
}

/* HEADER */

header {
  padding: 10px;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
}

.agency {
  color: var(--text-color1);
  font-size: var(--fsize6);
  font-family: var(--semiBold);
  margin-left: 3%;
}

.logo-img img {
  display: none;
}

/* PHOTO SECTION */

.video-section {
  background: url("../../../assets/mer.png") fixed;
  background-size: cover;
  background-position: 90% 75%;
  height: 50vh;
  border-bottom: none;
}

.container-image img {
  width: 100%;
  margin-bottom: 50px;
}

.logo-travel {
  display: block;
}

.logo-travel img {
  width: 150px;
}

/* HOTEL */

.hotel article {
  width: 50%;
  margin: auto;
}

.hotel h3 {
  text-align: center;
  padding: 20px;
  background-color: #d9d9d9;
  margin-bottom: 50px;
}

.hotel h4 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.hotel p {
  text-align: center;
  margin-bottom: 25px;
}

.hotel img {
  width: 100%;
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SECTION PRICE */

.container-price {
  width: 80%;
  margin: auto;
}

.price p:first-child {
  margin-top: 50px;
  padding: 25px;
  text-align: center;
  background: #3d4642;
  color: var(--text-color1);
}

.price .prix {
  font-size: var(--fsize6);
}

.price h4 {
  background-color: #d9d9d9;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.container-price p {
  text-align: center;
}

.container-price button {
  display: block;
  margin: 25px auto;
}

.getquote {
  margin-bottom: 20px;
}

.container-price h5 {
  margin: 25px auto;
  font-size: 1rem;
  font-family: var(--semiBold);
  text-transform: uppercase;
  text-align: center;
}

.dr {
  display: block;
  border-bottom: 2px solid #e2d1b5;
  width: 10%;
  margin: auto;
}

.dr2 {
  display: block;
  border-bottom: 2px solid #e2d1b5;
  width: 3%;
  margin: 20px auto;
}

.share {
  margin-top: 10px;
  background: #d9d9d9;
  text-align: center;
}

.share h3 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

.share a {
  text-decoration: none;
}

.share a i {
  color: #3d4642;
}

.share p {
  margin: 10px auto auto;
  padding-bottom: 10px;
}

/* SECTION NEWSLETTER */

.container-newsletter {
  background: url("../../../assets/newsletter.jpg") fixed;
  background-size: cover;
  background-position: 35% 75%;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.container-newsletter p {
  color: var(--text-color1);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#newsletter-form {
  display: inline-flex;
}

.container-newsletter .newsletter-button {
  padding: 5px 10px;
  background: #7a6957;
  border: transparent;
  color: var(--text-color1);
}

@media all and (min-width: 1024px) {
  /* VIDEO SECTION */

  .container-titre {
    width: 100%;
  }

  .container-titre h1 {
    display: none;
  }

  .logo-travel img {
    display: none;
  }

  .container-image {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .container-image img {
    width: 50%;
    margin: auto;
  }

  /* SECTION HOTEL */

  .hotel {
    margin-top: 26%;
  }

  .container-images {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .share {
    width: 30%;
    margin: auto;
  }

  /* SECTION PRICE */

  .container-price p:last-child {
    margin-bottom: 10px;
  }

  .price p:first-child {
    width: 40%;
    margin: 50px auto 0;
  }

  .price h4 {
    width: 40%;
    margin: auto;
  }

  /* SECTION NEWSLETTER */

  .container-newsletter {
    padding: 100px;
  }
}
