/* GENERAL */

h3 {
  background: none;
  margin-bottom: 0;
}

article {
  margin: 0;
}

/* SECTION VIDEO SECTION */

.logo-travel {
  display: block;
}

.logo-travel img {
  width: 150px;
}

/* SECTION DESTINATIONS */

#search {
  margin: 10px auto;
}

/* SECTION VACANCES */

.picture5,
.picture6,
.picture7,
.picture8,
.picture9,
.picture10,
.picture11,
.picture12 {
  text-align: center;
  width: 100%;
  margin: auto;
  box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
  background: #e5e5e5;
  margin-bottom: 10%;
  display: block;
}

article figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-article2 img,
.container-article3 img {
  width: 100%;
  object-fit: cover;
}
