/* GENERAL */

h3 {
  background: none;
  margin-bottom: 0;
}

article {
  margin: 0;
}

/* SECTION VIDEO SECTION */

.logo-travel {
  display: block;
}

.logo-travel img {
  width: 150px;
}

#search {
  margin: 10px auto;
}

/* SECTION DESTINATIONS */

/* SECTION VACANCES */

.container-article2 {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
}

.container-article2 img {
  width: 100%;
}

.container-article2 figure {
  display: flex;
}

.container-article2 figcaption {
  margin-bottom: 8%;
  padding: 0px 15px;
}

.container-article3 {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.container-article3 img {
  width: 100%;
}

.container-article3 figure {
  display: flex;
}

.container-article3 figcaption {
  margin-bottom: 8%;
  padding: 0px 15px;
}

.picture5,
.picture6,
.picture7,
.picture8,
.picture9,
.picture10,
.picture11,
.picture12 {
  display: block;
}

.picture5,
.picture6,
.picture7,
.picture8,
.picture9,
.picture10,
.picture11,
.picture12 {
  text-align: center;
  width: 60%;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
}

.price-promo {
  font-family: var(--sourceBold);
}

/* SECTION INFORMATIONS */

.advice .container-left p {
  text-align: center;
}

@media all and (min-width: 468px) and (max-width: 1023px) {
  /* SECTION DESTINATIONS */

  .container-article {
    display: flex;
  }

  .picture5,
  .picture6,
  .picture7,
  .picture8,
  .picture9,
  .picture10,
  .picture11,
  .picture12 {
    display: block;
  }

  .picture5,
  .picture6,
  .picture7,
  .picture8,
  .picture9,
  .picture10,
  .picture11,
  .picture12 {
    text-align: center;
    width: 100%;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
  }

  .container-article {
    width: 50%;
    margin: auto;
  }
}

@media all and (min-width: 1024px) {
}
