
/*SECTION AGENCE*/

.logo-travel {
    display: block;
  }

/*SECTION INFORMATION-AGENCE*/

  h3 {
    background: none;
    font-family: var(--regular);
    font-size: var(--fsize6);
  }

  .container-agence {
    font-family: var(--light);
    font-size: 0.9375em;
    padding-bottom: 10%;
  }

  /*SECTION PHOTOS-AGENCY*/

  .container-agency {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    height: 500px;
    border: solid 3px black;
  }

  .agence-1 {
    width: 10%;
    height: 50px;
  }

  .accueil-1 {
    width: 10%;
    height: 50px;
  }