
/*SECTION AGENCE*/

.logo-travel {
    display: block;
  }

/*SECTION INFORMATION-AGENCE*/

  h3 {
    background: none;
    font-family: var(--regular);
    font-size: var(--fsize6);
  }

  .container-agence {
    font-family: var(--light);
    font-size: 0.9375em;
  }

  /*SECTION PHOTOS-AGENCY*/

  .photos-agency {
    display: block;
    right: 30%;
    background-size: contain;
  }

  article .agence-1 {
    height: 100%;
    width: 100%;
  }