.container-titre {
  width: 100%;
}

h1 {
  width: auto;
  margin: auto;
}

h3 {
  margin-top: 50px;
}

nav a:hover {
  text-transform: uppercase;
}

a {
  text-transform: none;
}

a:hover {
  text-transform: none;
}

.logo-travel {
  margin: auto;
  display: block;
}

.logo-travel img {
  width: 150px;
  margin-top: 10px;
}

#section1 {
  text-align: center;
  width: 100%;
}

#section2 {
  text-align: center;
  width: 100%;
}

#section3 {
  text-align: center;
  width: 100%;
}

#section4 {
  text-align: center;
  width: 100%;
}

article {
  width: 50%;
  margin: auto;
}

#section1 p,
#section2 p,
#section3 p,
#section4 p {
  text-align: left;
  padding-bottom: 20px;
}

.img-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.decouvert {
  margin: 15% 0;
  color: var(--text-color2);
  border: 2px solid #f5f5f5;
  padding: 15px 15px;
  text-transform: uppercase;
  border: 1px solid gray;
}

@media all and (min-width: 1024px) {
  .img-restaurant {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .img-restaurant img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .decouvert {
    margin: 3% 0;
    color: var(--text-color2);
    border: 2px solid #f5f5f5;
    padding: 15px 15px;
    text-transform: uppercase;
    border: 1px solid gray;
  }

  h3 {
    font-size: var(--fsize4);
  }
}
