@media only screen and (max-width: 480px) {
  /* GENERAL */

  button {
    cursor: pointer;
  }

  /* SECTION VIDEO */

  section {
    position: relative;
  }

  .video-section {
    background: url("../../../assets/foret.png");
    height: auto;
    border-bottom: 3px solid #8a6b36;
  }

  /* Header */

  header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
  }

  .nom {
    color: var(--text-color1);
    font-size: var(--fsize6);
    font-family: var(--semiBold);
    margin-left: 3%;
  }

  nav ul {
    display: none;
  }

  nav img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 3%;
    right: 10%;
    width: 8%;
  }

  .applis {
    margin: 15% 0 10% 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .applis img:first-child {
    height: 20px;
    width: 3%;
  }

  .applis img {
    width: 4%;
    height: 5%;
  }

  h1 {
    color: var(--text-color1);
    font-size: var(--fsize3);
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .container-buttons {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin: 10% auto;
    gap: 20px;
  }

  .book {
    background: transparent;
    color: var(--text-color1);
    border: 2px solid #f5f5f5;
    padding: 10%;
    text-transform: uppercase;
  }

  .quote {
    background: transparent;
    color: var(--text-color1);
    border: 2px solid #f5f5f5;
    padding: 10%;
    text-transform: uppercase;
    margin-bottom: 50%;
  }

  video {
    display: none;
  }

  /* SECTION TRAVELS */

  .travels {
    margin-top: 10%;
  }

  .travels h3 {
    font-family: var(--light);
    font-weight: 300;
    font-size: var(--fsize6);
    text-align: center;
    margin-bottom: 5%;
  }

  article {
    /* border: 3px solid black; */
    text-align: center;
    width: 70%;
    margin: auto;
    box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
    background: #e5e5e5;
  }

  .picture img {
    width: 100%;
  }

  figcaption {
    margin-bottom: 8%;
    padding: 0px 5px;
  }

  figcaption h3 {
    text-align: left !important;
    font-family: var(--sourceBold) !important;
    font-size: 20px !important;
  }

  figcaption .dr {
    display: block;
    border-bottom: 2px solid #e2d1b5;
    width: 40%;
  }

  figcaption .bold {
    font-family: var(--sourceBold);
    text-align: left;
  }

  figcaption p {
    text-align: justify;
  }

  figcaption .price {
    color: #27797d;
  }

  .decouvert {
    margin: 10% 0;
    background: transparent;
    color: var(--text-color2);
    border: 2px solid #f5f5f5;
    padding: 5% 10%;
    text-transform: uppercase;
    border: 1px solid gray;
  }
}
