/* GENERAL */

section {
  position: relative;
}

button:hover {
  cursor: pointer;
  background: #266070;
  color: var(--text-color1);
}

h1 {
  color: var(--text-color1);
  font-size: var(--fsize3);
  font-family: var(--sourceBold);
  text-align: left;
  width: 500px;
  margin: 0;
}

h2 {
  color: var(--text-color1);
  font-size: var(--fsize4);
  font-family: var(--sourceBold);
  text-align: left;
  margin: 0;
}

h3 {
  padding: 20px;
  background-color: #d9d9d9;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: var(--semiBold);
  font-size: var(--fsize5);
}

h4 {
  font-family: var(--sourceBold);
  font-size: var(--fsize5);
  color: #3d4642;
  padding-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: var(--Light);
  color: var(--text-color2);
  font-size: var(--fsize6);
  line-height: 1.5;
}

/* Header */

header {
  padding: 10px;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
}

.agency {
  color: var(--text-color1);
  font-size: var(--fsize6);
  font-family: var(--semiBold);
  margin-left: 3%;
}

/* MENU BURGER */

nav ul {
  z-index: 10;
  position: fixed;
  left: -100%;
  top: 0;
  flex-direction: column;
  background-color: #3d4642;
  text-align: center;
  transition: 0.25s;
  width: 100%;
}

nav li {
  padding: 10px;
  background-color: #266070;
}

nav li:hover {
  background-color: #adbcc6;
}

nav.active ul nav li {
  list-style: none;
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text-color1);
  font-family: var(--light);
}

nav img {
  display: block;
  position: absolute;
  top: 25%;
  right: 10%;
  width: 35px;
  height: 35px;
}

#burger {
  display: block;
}

.active #burger:before {
  z-index: 200;
  content: "\2715";
  position: fixed;
  top: 25px;
  right: 12%;
  color: var(--text-color1);
  font-size: 1rem;
}

.active #burger img {
  display: none;
}

nav.active ul {
  left: 0;
  display: flex;
  transition: 0.5s ease-in-out;
}

/* SECTION VIDEO */

.container-button-action {
  display: flex;
  justify-content: center;
}

.container-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search {
  border-radius: 10px;
  padding: 5px;
}

.logo-img img {
  display: none;
}

section {
  position: relative;
}

.video-section {
  background: url("../../../assets/mer.png") fixed;
  background-size: cover;
  background-position: 90% 75%;
  height: auto;
  border-bottom: 3px solid #8a6b36;
}

.container-titre {
  display: inline-block;
  padding: 50px;
  width: 100%;
  text-align: center;
  font-family: var(--semiBold);
}

.container-video-section {
  padding-top: 100px;
}

.applis {
  display: flex;
  margin: 0 0 10% 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

article.container-text {
  display: inline-block;
  padding: 50px;
  width: 100%;
  text-align: center;
}

.bi-facebook {
  color: var(--text-color1);
  font-size: 1rem;
}

.bi-twitter-x {
  color: var(--text-color1);
}

.bi-wifi {
  color: var(--text-color1);
}

.bi-instagram {
  color: var(--text-color1);
}

h1 {
  color: var(--text-color1);
  font-size: var(--fsize3);
  text-align: center;
  width: 100%;
  margin: 15px 0 0 0;
  text-shadow: 0px -1px 16px rgb(62 143 140);
}

.container-buttons {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 10% auto;
  gap: 20px;
}

.book {
  background: transparent;
  color: var(--text-color1);
  border: 2px solid #f5f5f5;
  padding: 20px;
  margin: 10%;
  text-transform: uppercase;
}

video {
  display: none;
}

.logo-travel {
  display: none;
}

/* SECTION TRAVELS */

#travels h3 {
  font-family: var(--light);
  font-weight: 300;
  font-size: var(--fsize4);
  text-align: center;
  margin: 5% 0%;
  background: none;
}

.picture1 a,
.picture2 a,
.picture3 a,
.picture4 a {
  margin: auto;
}

.picture1,
.picture2,
.picture3,
.picture4 {
  text-align: left;
  width: 70%;
  margin: auto;
  box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
  background: #e5e5e5;
  margin-bottom: 10%;
}

.picture1 figcaption,
.picture2 figcaption,
.picture3 figcaption,
.picture4 figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-article img {
  width: 100%;
  object-fit: cover;
}

.container-article figure {
  display: flex;
}

.container-article figcaption {
  margin-bottom: 8%;
  padding: 0px 15px;
}

figcaption h3 {
  text-align: left !important;
  font-family: var(--sourceBold) !important;
  font-size: 20px !important;
  color: var(--text-color2);
}

figcaption .dr {
  display: block;
  border-bottom: 2px solid #e2d1b5;
  width: 40%;
}

figcaption .bold {
  font-family: var(--sourceBold);
  text-align: left;
}

figcaption .price {
  color: grey;
  font-size: 0.9rem;
  text-decoration: line-through;
}

figcaption .price-promo {
  color: #27797d;
}

.decouvert {
  margin: 5% 0;
  background: transparent;
  color: var(--text-color2);
  border: 2px solid #f5f5f5;
  padding: 15px 15px;
  text-transform: uppercase;
  border: 1px solid gray;
}

/* SECTION INFORMATIONS */

.advice {
  text-align: center;
  width: 70%;
  margin: auto;
  box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
  background: #e5e5e5;
}

.container-left {
  margin-bottom: 5%;
}

.container-left img {
  width: 100%;
  margin-bottom: 10%;
}

.getquote {
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 5%;
}

.container-left p {
  line-height: 2rem;
}

.appointment {
  text-transform: uppercase;
  padding: 10px;
  margin: 5% 0;
}

.logos-news {
  margin: auto;
  width: 70%;
}

.logos-news figure {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10%;
}

.logos-news figure img {
  height: 65px;
}

.logos-news figcaption h4 {
  font-size: var(--fsize5);
  font-family: var(--sourceBold);
}

.logos-news figcaption p {
  font-family: var(--sourceBold);
  color: var(--text-color3);
  font-size: var(--fsize6);
  text-align: left;
}

/* SECTION NEWSLETTER */

.container-newsletter {
  background: url("../../../assets/newsletter.jpg") fixed;
  background-size: cover;
  background-position: 35% 75%;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.container-newsletter p {
  color: var(--text-color1);
  font-size: var(--fsize5);
  font-family: var(--regular);
  margin-bottom: 20px;
}

#newsletter-form {
  display: inline-flex;
}

.container-newsletter .newsletter-button {
  padding: 5px 10px;
  background: #7a6957;
  border: transparent;
  color: var(--text-color1);
}

/* SECTION CONTACT */

label {
  display: none;
}

.formulaire-right h4 {
  text-align: center;
}

.formulaire-right input {
  border: none;
  border-bottom: 1px solid #e2e4e5;
  margin-bottom: 30px;
  line-height: 1.6;
}

.formulaire-right input:focus {
  outline: none;
  border-bottom-color: #007aff;
  padding-bottom: 5px;
}

::placeholder {
  color: #7a6957;
}

textarea {
  border: none;
  border-bottom: 1px solid #e2e4e5;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 1rem;
}

textarea:focus {
  outline: none;
  border-bottom-color: #007aff;
  padding-bottom: 5px;
}

#name {
  width: 75%;
}

#prenom {
  width: 75%;
}

#email {
  width: 75%;
}

#phone {
  width: 75%;
}

#message {
  resize: vertical;
  width: 75%;
}

.button-form {
  margin: auto;
  width: 50%;
}

.submit {
  width: 50%;
  margin-bottom: 15px;
  padding: 10px;
}

/* FOOTER */

footer {
  background: #151616;
  height: auto;
  display: flex;
  flex-direction: column;
}

footer h2 {
  margin-bottom: 25px;
  padding: 30px 20px 0;
  font-family: var(--semiBold);
}

footer p {
  padding: 0 20px 5px;
  font-family: var(--light);
  color: var(--text-color1);
}

footer .applis {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.grey-footer {
  background: #3d4642;
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.container-footer {
  width: 100%;
}

.container-footer p {
  text-align: center;
}

/* FLECHE */

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 100px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 999;
  display: none;
}

#scroll-to-top a {
  font-size: 50px;
  color: #266070;
  padding: 10px;
  border-radius: 50%;
}
