@media all and (min-width: 1024px) {

   .logo-travel {
      display: inline;
    }

 /*SECTION AGENCE*/

   .photos-agency {
    display: flex;
    justify-content: space-around;
  }
  
   .agence-1 {
    width: 40%;
    background-size: cover;
  }
  
  .accueil-1 {
    width: 40%;
    background-size: cover;
  }

/*SECTION INFORMATION AGENCE*/

  .container-agence {
    margin-top: -5%;
    padding-left: 5%;
  }

/*SECTION PHOTOS-AGENCY*/
 
 .container-agency {
  display: flex;
  flex-direction: row;
  margin-top: -10%;
} 

  .agence-1 {
    width: 40%; 
  }

  .accueil-1 {
    width: 45%;
  }

  .agence-1 img,
  .accueil-1 img {
    width: 100%;
    height: auto;
  }

/* SECTION NEWSLETTER-INFOS*/

  .container-newsletter {
    background: url("../../assets/newsletter.jpg") fixed;
    background-size: cover;
    background-position: 35% 75%;
    width: 100%;
    padding: 50px;
    text-align: center;
    margin-top: 3%;
 }

}