@media all and (min-width: 1024px) {

   .logo-travel {
      display: inline;
    }



 /*SECTION AGENCE*/

   .photos-agency {
    display: flex;
    border: solid 3px red;
    justify-content: space-around;
  }
  
   .agence-1 {
    border: solid 3px blue;
    width: 40%;
    background-size: cover;
  }
  
  .accueil-1 {
    border: solid 3px green;
    width: 40%;
    background-size: cover;
  }
  
  article .accueil-1 {
    border: solid 3px black;
  } 

  figure {
    border:  solid 3px yellow;
  }


/*SECTION INFORMATION AGENCE*/

  .container-agence {
    display: inline-block;
  }
}

/* SECTION NEWSLETTER-INFOS*/

.container-newsletter {
  background: url("../../assets/newsletter.jpg") fixed;
  background-size: cover;
  background-position: 35% 75%;
  width: 100%;
  padding: 50px;
  text-align: center;
}
