@media all and (min-width: 768px) and (max-width: 1400px) {
  /* SECTION TABLET */

  /* SECTION VIDEO */

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 35%;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    background: rgba(0, 0, 0, 0.4);
  }

  .agency {
    margin-right: 3%;
  }

  /* video {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  } */

  /* NAVBAR */

  #burger {
    display: none;
  }

  nav {
    display: block;
  }
}
