@media all and (min-width: 768px) and (max-width: 1023px) {
  /* SECTION TABLET */

  /* NAVBAR */

  #burger {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    z-index: 10;
    position: unset;
    display: flex;
    flex-direction: row;
    transition: 0.25s;
    width: 100%;
    background: none;
    gap: 15px;
    margin-left: 10px;
  }

  nav ul:hover {
    background: none;
  }

  nav li {
    background: none;
  }

  nav ul li:hover {
    background: none;
  }

  nav.active ul nav li {
    list-style: none;
    padding: 5px 0;
    display: none;
  }

  nav a {
    font-size: 0.9rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  article .container-text {
    display: inline-block;
    padding: 50px;
    width: 100%;
    text-align: center;
  }

  .applis {
    display: flex;
    margin: 15% 0 10% 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .applis img {
    width: 100%;
  }

  .applis a:first-child {
    width: 2.5%;
  }

  .applis a {
    width: 4%;
  }

  /* SECTION TRAVELS */

  .container-article {
    width: 100%;
  }

  .picture1,
  .picture3 {
    /* border: 3px solid black; */
    text-align: center;
    width: 100%;
    background: #e5e5e5;
    display: flex;
    margin: 0 0 20px 0;
  }

  .picture2,
  .picture4 {
    text-align: center;
    width: 100%;
    background: #e5e5e5;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 20px 0;
  }

  .travels figure {
    width: 50%;
  }

  .travels figcaption {
    margin: 0;
    width: 50%;
    padding: 0 20px 0 20px;
  }

  .container-newsletter {
    background: url("../../../assets/newsletter.jpg") fixed;
    background-size: cover;
    background-position: 35% 75%;
    width: 100%;
    padding: 80px 0;
    text-align: center;
  }

  /* SECTION VIDEO */

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    background: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
  }

  .agency {
    margin-right: 3%;
  }

  h1 {
    color: var(--text-color1);
    font-size: var(--fsize3);
    text-align: center;
    width: 70%;
    margin: auto;
  }

  /* video {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  } */

  /* FOOTER */

  footer .applis {
    display: flex;
    margin: 15% 0 10% 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer .applis img {
    width: 100%;
  }

  footer .applis a:first-child {
    width: 2.5%;
  }

  footer .applis a {
    width: 4%;
  }
}
